In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('WHO-COVID-19-global-data.csv')
df.head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,AF,Afghanistan,EMRO,0,0,0,0
1,2020-01-04,AF,Afghanistan,EMRO,0,0,0,0
2,2020-01-05,AF,Afghanistan,EMRO,0,0,0,0
3,2020-01-06,AF,Afghanistan,EMRO,0,0,0,0
4,2020-01-07,AF,Afghanistan,EMRO,0,0,0,0

In [4]:

df.index

RangeIndex(start=0, stop=136986, step=1)

In [5]:
df_index = df.index

In [6]:
df_index

RangeIndex(start=0, stop=136986, step=1)

In [8]:
df_columns = df.columns

In [9]:
df_columns

Index(['Date_reported', 'Country_code', 'Country', 'WHO_region', 'New_cases',
       'Cumulative_cases', 'New_deaths', 'Cumulative_deaths'],
      dtype='object')

In [11]:
df_index.values

array([     0,      1,      2, ..., 136983, 136984, 136985], dtype=int64)

In [12]:
df.values

array([['2020-01-03', 'AF', 'Afghanistan', ..., 0, 0, 0],
       ['2020-01-04', 'AF', 'Afghanistan', ..., 0, 0, 0],
       ['2020-01-05', 'AF', 'Afghanistan', ..., 0, 0, 0],
       ...,
       ['2021-07-31', 'ZW', 'Zimbabwe', ..., 107490, 69, 3490],
       ['2021-08-01', 'ZW', 'Zimbabwe', ..., 108860, 42, 3532],
       ['2021-08-02', 'ZW', 'Zimbabwe', ..., 109546, 51, 3583]],
      dtype=object)

In [13]:
df.dtypes

Date_reported        object
Country_code         object
Country              object
WHO_region           object
New_cases             int64
Cumulative_cases      int64
New_deaths            int64
Cumulative_deaths     int64
dtype: object

In [14]:
df.shape

(136986, 8)

In [15]:
df.info

<bound method DataFrame.info of        Date_reported Country_code      Country WHO_region  New_cases  \
0         2020-01-03           AF  Afghanistan       EMRO          0
1         2020-01-04           AF  Afghanistan       EMRO          0
2         2020-01-05           AF  Afghanistan       EMRO          0
3         2020-01-06           AF  Afghanistan       EMRO          0
4         2020-01-07           AF  Afghanistan       EMRO          0
...              ...          ...          ...        ...        ...
136981    2021-07-29           ZW     Zimbabwe       AFRO       1856
136982    2021-07-30           ZW     Zimbabwe       AFRO       2089
136983    2021-07-31           ZW     Zimbabwe       AFRO       1834
136984    2021-08-01           ZW     Zimbabwe       AFRO       1370
136985    2021-08-02           ZW     Zimbabwe       AFRO        686

        Cumulative_cases  New_deaths  Cumulative_deaths
0                      0           0                  0
1                      0           0                  0
2                      0           0                  0
3                      0           0                  0
4                      0           0                  0
...                  ...         ...                ...
136981            103567          60               3340
136982            105656          81               3421
136983            107490          69               3490
136984            108860          42               3532
136985            109546          51               3583

[136986 rows x 8 columns]>

In [16]:
df.describe()

           New_cases  Cumulative_cases     New_deaths  Cumulative_deaths
count  136986.000000      1.369860e+05  136986.000000      136986.000000
mean     1447.118326      2.770834e+05      30.859789        6572.000000
std      9440.046572      1.698127e+06     171.775018       34017.537473
min    -32952.000000      0.000000e+00     -60.000000           0.000000
25%         0.000000      2.500000e+01       0.000000           0.000000
50%         9.000000      3.190500e+03       0.000000          52.000000
75%       317.000000      6.005500e+04       5.000000         969.000000
max    414188.000000      3.476691e+07    8786.000000      608111.000000

In [17]:
df.value_counts()

Date_reported  Country_code  Country        WHO_region  New_cases  Cumulative_cases  New_deaths  Cumulative_deaths
2020-01-03                   Other          Other       0          0                 0           0                    1
2021-01-22     GG            Guernsey       EURO        1          310               0           16                   1
               HR            Croatia        EURO        643        227969            32          4770                 1
               HN            Honduras       AMRO        830        136898            15          3406                 1
               GY            Guyana         AMRO        65         7015              0           170                  1
                                                                                                                     ..
2020-07-13     NI            Nicaragua      AMRO        0          2411              0           91                   1
               NG            Nigeria        AFRO        571        32558             16          740                  1
               NE            Niger          AFRO        0          1099              0           68                   1
               NC            New Caledonia  WPRO        0          21                0           0                    1
2021-08-02     ZW            Zimbabwe       AFRO        686        109546            51          3583                 1
Length: 136408, dtype: int64

In [18]:
df['Country'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Anguilla', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bonaire',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', 'Côte d’Ivoire', 'Croatia', 'Cuba', 'Curaçao',
       'Cyprus', 'Czechia', "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Falkland Islands (Malvinas)',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Guiana',
       'French Polynesia', 'Gabon', 'Gambia', 'Georgia', 'Germany',
       'Ghana', 'Gibraltar', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guam', 'Guatemala', 'Guernsey', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Holy See', 'Honduras',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Isle of Man',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jersey', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo[1]', 'Kuwait',
       'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique',
       'Mauritania', 'Mauritius', 'Mayotte', 'Mexico',
       'Micronesia (Federated States of)', 'Monaco', 'Mongolia',
       'Montenegro', 'Montserrat', 'Morocco', 'Mozambique', 'Myanmar',
       'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'North Macedonia',
       'Northern Mariana Islands (Commonwealth of the)', 'Norway',
       'occupied Palestinian territory, including east Jerusalem', 'Oman',
       'Other', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea',
       'Paraguay', 'Peru', 'Philippines', 'Pitcairn Islands', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Republic of Korea',
       'Republic of Moldova', 'Réunion', 'Romania', 'Russian Federation',
       'Rwanda', 'Saba', 'Saint Barthélemy', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Martin',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Eustatius', 'Sint Maarten', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand',
       'The United Kingdom', 'Timor-Leste', 'Togo', 'Tokelau', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Republic of Tanzania',
       'United States of America', 'United States Virgin Islands',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam',
       'Wallis and Futuna', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [19]:
df.columns

Index(['Date_reported', 'Country_code', 'Country', 'WHO_region', 'New_cases',
       'Cumulative_cases', 'New_deaths', 'Cumulative_deaths'],
      dtype='object')

In [20]:
df.loc[1:5,'Country']

1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
5    Afghanistan
Name: Country, dtype: object

In [21]:

df.loc[1:5,['Country','New_cases']]

       Country  New_cases
1  Afghanistan          0
2  Afghanistan          0
3  Afghanistan          0
4  Afghanistan          0
5  Afghanistan          0

In [24]:
df.Country == 'United States Of America'

0         False
1         False
2         False
3         False
4         False
          ...
136981    False
136982    False
136983    False
136984    False
136985    False
Name: Country, Length: 136986, dtype: bool

In [27]:
df[df.Country=='United States Of America']

Empty DataFrame
Columns: [Date_reported, Country_code, Country, WHO_region, New_cases, Cumulative_cases, New_deaths, Cumulative_deaths]
Index: []

In [30]:
df[df['New_deaths']>1000]

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
4898,2020-10-03,AR,Argentina,AMRO,14001,765002,3351,20288
14121,2020-09-08,BO,Bolivia (Plurinational State of),AMRO,528,120769,1610,7008
16323,2020-05-21,BR,Brazil,AMRO,17408,271628,1179,17971
16325,2020-05-23,BR,Brazil,AMRO,18508,310087,1188,20047
16326,2020-05-24,BR,Brazil,AMRO,20803,330890,1001,21048
...,...,...,...,...,...,...,...,...
131071,2021-03-21,US,United States of America,AMRO,61405,29466572,1359,539915
131076,2021-03-26,US,United States of America,AMRO,65751,29747372,1091,543855
131077,2021-03-27,US,United States of America,AMRO,67796,29815168,1237,545092
131078,2021-03-28,US,United States of America,AMRO,71388,29886556,1170,546262
131139,2021-05-28,US,United States of America,AMRO,24462,32869009,1120,586890

In [31]:
df.loc[df['New_deaths']>1000,['New_deaths','Country']]

        New_deaths                           Country
4898          3351                         Argentina
14121         1610  Bolivia (Plurinational State of)
16323         1179                            Brazil
16325         1188                            Brazil
16326         1001                            Brazil
...            ...                               ...
131071        1359          United States of America
131076        1091          United States of America
131077        1237          United States of America
131078        1170          United States of America
131139        1120          United States of America

[689 rows x 2 columns]

In [32]:
df.loc[df['Country_code']=='US',['New_cases']].max()

New_cases    312247
dtype: int64

In [33]:
df.loc[df['Country_code']=='US',['New_cases']].min()

New_cases    0
dtype: int64

In [38]:
df.loc[df['Country_code']=='US',['New_cases']].median()

New_cases    42219.5
dtype: float64

In [39]:
df.loc[df['Country_code']=='US',['New_cases']].sum()

New_cases    34766907
dtype: int64